@font-face {
  font-family: "PF Handbook Pro";
  font-style: normal;
  font-weight: 300;
  src: url(https://cloud.modyocdn.com/uploads/ce54e724-6a5c-4e45-b779-accf6195b40c/original/PFHandbookProThin.ttf)
    format("truetype");
}

@font-face {
  font-family: "PF Handbook Pro";
  font-style: normal;
  font-weight: 400;
  src: url(https://cloud.modyocdn.com/uploads/31ef7009-be86-4eb0-998a-06aee9154d7b/original/PFHandbookProRegular.ttf)
    format("truetype");
}

@font-face {
  font-family: "PF Handbook Pro";
  font-style: normal;
  font-weight: 700;
  src: url(https://cloud.modyocdn.com/uploads/a29afe16-8d13-4589-9ece-c98f78190a58/original/PFHandbookProBold.ttf)
    format("truetype");
}

@font-face {
  font-family: "PF Handbook Pro";
  font-style: normal;
  font-weight: 900;
  src: url(https://cloud.modyocdn.com/uploads/21e44181-684c-432c-ba81-a61715e5d2f2/original/PFHandbookProBlack.ttf)
    format("truetype");
}

:root {
  --font: "PF Handbook Pro";
  --white: #ffffff;
  --orange-primary: #f9ab0d;
  --yellow-primary: #f3bb41;
  --background: #362455;
}

body {
  font-size: 16px;
  font-family: "PF Handbook Pro";
  background-color: var(--background);

  padding-bottom: 510px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
}

/* COMPONENTS */

.step__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.step__title h2 {
  color: var(--white);
  font: 400 34px/1 var(--font);
  position: relative;
  text-transform: uppercase;
}

.step__title h2 span {
  display: block;
  font-weight: 900;
}

.step__title img {
  display: block;
  margin: 0 12px 0 0;
}

.step__paragraph {
  margin-top: 1.5rem;
}

.step__paragraph p {
  color: var(--white);
  font: 300 19px/1.1 var(--font);
}

.step__paragraph span.step__paragraph--orange {
  color: var(--orange-primary);
}

.step__title--column {
  flex-direction: column;
}

.step__title--column img {
  margin: 0 0 12px;
}

.step__title--column h2 {
  text-align: center;
}

.step__paragraph--column p {
  text-align: center;
}

.step__title--revert {
  flex-direction: row-reverse;
}

.step__title--revert img {
  margin: 0 0 0 12px;
}

.step__title--revert h2 {
  text-align: right;
}

.step__paragraph--revert p {
  text-align: right;
}

.step-item {
  background-color: var(--background);
  position: relative;
  width: 270px;
  height: 160px;
  text-align: center;
  padding: 0 1.8rem;
  margin: auto;
  border-radius: 18px;
}

.step-item::before {
  content: "";
  background: linear-gradient(130deg, #9b1414, #ce03a5, #ce8d01, #9b1414);
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  z-index: -1;
  border-radius: 18px;
}

.step-item h3 {
  color: var(--white);
  font: 700 26px/1.1 var(--font);
  padding: 0.75rem 0;
}

.step-item p {
  color: var(--yellow-primary);
  font: 400 17px/1.1 var(--font);
  height: calc(100% - 80px);
  letter-spacing: 0.2px;
}

.step-item p span {
  font-weight: 700;
}

/* COMPONENTS */

/* SECTION INTRO */

section.intro {
  width: 100%;
  height: auto;
  position: relative;
}

section.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(src/img/background-intro.svg);
  background-repeat: no-repeat;
  background-size: 100% 750px;
  background-position: top center;
  z-index: -1;
}

.intro__wrapper {
  max-width: 360px;
  margin: auto;
}

.intro .intro__title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 370px;
  padding: 32px;
}

.intro .intro__title::before,
.intro .intro__title::after {
  content: "";
  position: absolute;
  background-size: cover;
}

.intro .intro__title::before {
  bottom: -70px;
  left: 26px;
  width: 70px;
  height: 70px;
  background-image: url(src/img/bubble-1.png);
}

.intro .intro__title::after {
  bottom: -28px;
  right: 35px;
  width: 40px;
  height: 40px;
  background-image: url(src/img/bubble-2.png);
}

.intro .intro__title h1 {
  color: var(--white);
  font: 400 46px/0.9 var(--font);
  text-transform: uppercase;
}

.intro .intro__title h1 span {
  display: block;
}

.intro .intro__title h1 span:first-child {
  font-weight: 700;
}

.intro .intro__title h1 span:last-child {
  color: var(--orange-primary);
  font-size: 50px;
  font-weight: 900;
}

.intro .intro__image {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 410px;
}

.intro .intro__image img {
  display: block;
  width: 210px;
}

/* SECTION INTRO */

/* SECTION STEP 1 */

section.step-1 {
  width: 100%;
  height: auto;
}

.step-1__wrapper {
  max-width: 360px;
  padding: 5rem 1rem 3rem;
  margin: auto;
}

.step-1__decoration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 6rem;
  min-height: 420px;
}

.step-1__decoration img {
  display: block;
  width: 100%;
  max-width: 210px;
}

/* SECTION STEP 1 */

/* SECTION STEP 2 */

section.step-2 {
  width: 100%;
  height: auto;
}

.step-2__wrapper {
  position: relative;
  max-width: 360px;
  padding: 5rem 0 0;
  margin: auto;
}

.step-2__wrapper .step-2__text {
  position: relative;
  width: 100%;
  height: 100%;
}

.step-2__wrapper .step-2__text::before,
.step-2__wrapper .step-2__text::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 100px;
  background-image: url(src/img/lock.png);
  background-size: contain;
  background-repeat: no-repeat;
  bottom: -134px;
}

.step-2__wrapper .step-2__text::before {
  left: 60px;
}

.step-2__wrapper .step-2__text::after {
  right: 60px;
  transform: scaleX(-1);
}

.step-2__wrapper .step-2__items {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 15rem;
}

.step-2__items .step-item {
  margin-bottom: 2.5rem;
}

.step-2__items .step-item:nth-child(2) p {
  padding-top: 2rem;
}

.step-2__wrapper .step-2__items::before {
  content: "";
  position: absolute;
  bottom: -54px;
  right: 56px;
  width: 70px;
  height: 70px;
  background-image: url(src/img/bubble-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

/* SECTION STEP 2 */

/* SECTION STEP 3-4 */

section.step-3-4 {
  width: 100%;
  height: auto;
}

.step-3-4__wrapper {
  max-width: 360px;
  padding: 8rem 1rem 3rem;
  margin: auto;
}

.step-3__text {
  margin: 0 0 6rem;
}

.step-3__text .step__paragraph p {
  width: 90%;
  margin-bottom: 0.5rem;
}

.step-4__text .step__paragraph p {
  margin-bottom: 0.5rem;
}

/* SECTION STEP 3-4 */

/* SECTION STEP 5 */

section.step-5 {
  width: 100%;
  height: auto;
}

.step-5__wrapper {
  padding: 8rem 1rem 3rem;
}

.step-5__text {
  position: relative;
  width: 100%;
}

.step-5__text::before,
.step-5__text::after {
  content: "";
  position: absolute;
  top: -24px;
  width: 120px;
  height: 120px;
  background-image: url(src/img/arm.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.step-5__text::before {
  left: -1rem;
}

.step-5__text::after {
  right: -1rem;
  transform: scaleX(-1);
}

.step-5__text .step__paragraph--column p {
  max-width: 50ch;
  margin: auto;
}

/* SECTION STEP 5 */

/* MEDIA QUERIES */

/* 1024px */
@media (min-width: 64em) {
  .wrapper {
    border: 1px solid white;
    width: 100%;
    height: 100%;
    height: 7023px;
    position: relative;
  }

  /* .wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(src/img/test.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    z-index: -1;
  } */

  /* SECTION INTRO */

  section.intro::before {
    background-image: none;
  }

  .intro__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
  }

  .intro .intro__title {
    align-items: flex-start;
    padding: 32px 32px 112px;
  }

  .intro .intro__title::before {
    bottom: 2px;
    left: 82px;
  }

  .intro .intro__title::after {
    top: 200px;
    right: 50px;
    bottom: initial;
    width: 55px;
    height: 55px;
  }

  .intro .intro__title h1 {
    font: 400 58px/0.8 var(--font);
  }

  .intro .intro__title h1 span:last-child {
    font-size: 66px;
  }

  .intro .intro__image img {
    display: block;
    width: 270px;
  }

  /* SECTION INTRO */

  /* SECTION STEP1 */

  .step-1__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    padding: 7rem 1rem 3rem;
  }

  .step-1__text {
    position: relative;
  }
  .step-1__text::before {
    content: "";
    position: absolute;
    bottom: -70px;
    left: 28px;
    width: 50px;
    height: 50px;
    background-image: url(src/img/bubble-small.png);
    background-size: cover;
  }

  .step-1__wrapper .step__title,
  .step-1__wrapper .step__paragraph {
    max-width: 394px;
  }

  .step-1__decoration {
    min-height: initial;
    margin-top: 0;
  }

  .step-1__decoration img {
    transform: rotate(100deg);
  }

  /* SECTION STEP1 */

  /* SECTION STEP 2 */

  .step-2__wrapper {
    max-width: 900px;
  }

  .step-2__wrapper .step-2__text::before,
  .step-2__wrapper .step-2__text::after {
    width: 90px;
    height: 110px;
    top: 40px;
    bottom: initial;
  }

  .step-2__wrapper .step-2__text::before {
    left: 200px;
  }

  .step-2__wrapper .step-2__text::after {
    right: 200px;
  }

  .step-2__wrapper .step-2__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 5rem;
  }

  .step-2__wrapper .step-2__items::before {
    bottom: -20px;
    right: 56px;
    width: 76px;
    height: 76px;
  }

  /* SECTION STEP 2 */

  /* SECTION STEP 3-4 */

  .step-3-4__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    padding: 3rem 1rem;
    margin: 8rem auto 6rem;
  }

  .step-3-4__wrapper::before {
    content: "";
    position: absolute;
    top: calc(50% - 90px);
    left: calc(50% - 90px);
    width: 180px;
    height: 180px;
    background-image: url(src/img/x.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .step-3__text,
  .step-4__text {
    width: 50%;
  }

  .step-3__text {
    margin: 0;
  }

  .step-3__text .step__paragraph p {
    width: 34ch;
  }

  .step-4__text .step__paragraph--revert {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .step-4__text .step__paragraph p {
    width: 34ch;
  }

  /* SECTION STEP 3-4 */

  /* SECTION STEP 5 */

  .step-5__wrapper {
    padding: 0 1rem 3rem;
  }

  .step-5__text::before,
  .step-5__text::after {
    top: -54px;
    width: 210px;
    height: 210px;
  }

  /* SECTION STEP 5 */
}

/* 1240px */
@media (min-width: 77.5em) {
  /* COMPONENTS */

  .step__title h2 {
    font: 400 42px/0.8 var(--font);
  }

  .step__paragraph p {
    font: 300 21px/1.1 var(--font);
  }

  .step-item {
    width: 320px;
    height: 190px;
  }

  .step-item p {
    font: 400 19px/1.1 var(--font);
  }

  .step-2__items .step-item:first-child p {
    padding-top: 0.5rem;
  }

  .step-2__items .step-item:nth-child(2) p {
    padding-top: 3rem;
  }

  .step-2__items .step-item:last-child p {
    padding-top: 1rem;
  }

  /* COMPONENTS */

  /* SECTION INTRO */

  .intro__wrapper {
    max-width: 1100px;
    padding-top: 64px;
  }

  .intro .intro__title h1 {
    font: 400 70px/0.8 var(--font);
  }

  .intro .intro__title h1 span:last-child {
    font-size: 76px;
  }

  .intro .intro__image img {
    width: 310px;
  }

  /* SECTION INTRO */

  /* SECTION STEP1 */

  .step-1__wrapper {
    max-width: 1100px;
    padding: 10rem 1rem 3rem;
  }

  .step-1__wrapper .step__title,
  .step-1__wrapper .step__paragraph {
    max-width: 440px;
  }

  /* SECTION STEP1 */

  /* SECTION STEP 2 */

  .step-2__wrapper {
    max-width: 1100px;
  }

  .step-2__wrapper .step-2__text::before,
  .step-2__wrapper .step-2__text::after {
    width: 110px;
    height: 130px;
  }

  .step-2__wrapper .step-2__text::before {
    left: 260px;
  }

  .step-2__wrapper .step-2__text::after {
    right: 260px;
  }

  /* SECTION STEP 2 */

  /* SECTION STEP 3-4 */

  .step-3-4__wrapper {
    max-width: 1100px;
  }

  /* SECTION STEP 3-4 */

  /* SECTION STEP 5 */

  .step-5__wrapper {
    padding: 3rem 1rem;
  }

  .step-5__text::before,
  .step-5__text::after {
    top: -60px;
    width: 300px;
    height: 300px;
  }

  /* SECTION STEP 5 */
}

/* 1600px */
@media (min-width: 100em) {
  /* COMPONENTS */

  .step__title h2 {
    font: 400 54px/0.8 var(--font);
  }

  .step__paragraph p {
    font: 300 24px/1.2 var(--font);
  }

  /* COMPONENTS */

  /* SECTION INTRO */
  .intro__wrapper {
    max-width: 1250px;
    padding-top: 96px;
  }

  .intro .intro__title h1 {
    font: 400 86px/0.8 var(--font);
  }

  .intro .intro__title h1 span:last-child {
    font-size: 90px;
  }

  .intro .intro__title::after {
    right: 44px;
    width: 60px;
    height: 60px;
  }

  .intro .intro__title::before {
    bottom: -26px;
    width: 90px;
    height: 90px;
  }

  .intro .intro__image img {
    width: 350px;
  }
  /* SECTION INTRO */

  /* SECTION STEP1 */

  .step-1__wrapper {
    max-width: 1250px;
    padding: 16rem 1rem 3rem;
  }

  .step-1__wrapper .step__title,
  .step-1__wrapper .step__paragraph {
    max-width: 504px;
  }

  /* SECTION STEP1 */

  /* SECTION STEP 2 */
  .step-2__wrapper {
    max-width: 1250px;
    padding: 10rem 0 0;
  }

  .step-2__wrapper .step-2__text::before,
  .step-2__wrapper .step-2__text::after {
    top: 30px;
    width: 150px;
    height: 180px;
  }

  .step-2__wrapper .step-2__text::before {
    left: 260px;
  }

  .step-2__wrapper .step-2__text::after {
    right: 260px;
  }

  /* SECTION STEP 2 */

  /* SECTION STEP 3-4 */

  .step-3-4__wrapper {
    max-width: 1250px;
  }

  .step-3-4__wrapper::before {
    top: calc(50% - 120px);
    left: calc(50% - 120px);
    width: 240px;
    height: 240px;
  }

  /* SECTION STEP 3-4 */

  /* SECTION STEP 5 */

  .step-5__wrapper {
    padding: 8rem 1rem 4rem;
  }

  .step-5__text::before,
  .step-5__text::after {
    top: -150px;
    width: 400px;
    height: 400px;
  }

  /* SECTION STEP 5 */
}
