@font-face {
  font-family: "PF Handbook Pro";
  font-style: normal;
  font-weight: 300;
  src: url(https://cloud.modyocdn.com/uploads/ce54e724-6a5c-4e45-b779-accf6195b40c/original/PFHandbookProThin.ttf)
    format("truetype");
}

@font-face {
  font-family: "PF Handbook Pro";
  font-style: normal;
  font-weight: 400;
  src: url(https://cloud.modyocdn.com/uploads/31ef7009-be86-4eb0-998a-06aee9154d7b/original/PFHandbookProRegular.ttf)
    format("truetype");
}

@font-face {
  font-family: "PF Handbook Pro";
  font-style: normal;
  font-weight: 700;
  src: url(https://cloud.modyocdn.com/uploads/a29afe16-8d13-4589-9ece-c98f78190a58/original/PFHandbookProBold.ttf)
    format("truetype");
}

@font-face {
  font-family: "PF Handbook Pro";
  font-style: normal;
  font-weight: 900;
  src: url(https://cloud.modyocdn.com/uploads/21e44181-684c-432c-ba81-a61715e5d2f2/original/PFHandbookProBlack.ttf)
    format("truetype");
}

:root {
  --font: "PF Handbook Pro";
  --white: #ffffff;
  --black: #000000;
  --orange-primary: #f9ab0d;
  --yellow-primary: #f3bb41;
  --violet-primary: #a20883;
  --background: #362455;
  --bg-header: #5e1598;
  --bg-footer: #2d1e48;
}

body {
  font-size: 1rem;
  font-family: "PF Handbook Pro";
  background-color: var(--background);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1f1037),
    color-stop(20%, #362455)
  );
  background: -o-linear-gradient(top, #1f1037 0%, #362455 20%);
  background: linear-gradient(180deg, #1f1037 0%, #362455 20%);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.full-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.full-wrapper h1::-moz-selection,
.full-wrapper h2::-moz-selection,
.full-wrapper h3::-moz-selection,
.full-wrapper p::-moz-selection,
.full-wrapper span::-moz-selection,
.full-wrapper b::-moz-selection,
.full-wrapper img::-moz-selection {
  color: var(--white);
  background: var(--violet-primary);
}

.full-wrapper h1::selection,
.full-wrapper h2::selection,
.full-wrapper h3::selection,
.full-wrapper p::selection,
.full-wrapper span::selection,
.full-wrapper b::selection,
.full-wrapper img::selection {
  color: var(--white);
  background: var(--violet-primary);
}

/* KEYFRAMES */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
  100% {
    -webkit-transform: translateY(0.625rem);
    transform: translateY(0.625rem);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
  100% {
    -webkit-transform: translateY(0.625rem);
    transform: translateY(0.625rem);
  }
}

/* END KEYFRAMES */

/* COMPONENTS */

.step__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.step__title h2 {
  color: var(--white);
  font: 400 2.125rem/1 var(--font);
  position: relative;
  text-transform: uppercase;
}

.step__title h2 span {
  display: block;
  font-weight: 900;
}

.step__title img {
  display: block;
  margin: 0 0.75rem 0 0;
}

.step__paragraph {
  margin-top: 1.5rem;
}

.step__paragraph p {
  color: var(--white);
  font: 300 1.1875rem/1.1 var(--font);
  text-shadow: 0.0625rem 0.0625rem var(--black);
}

.step__paragraph span.step__paragraph--orange {
  color: var(--orange-primary);
}

.step__title--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.step__title--column img {
  margin: 0 0 0.75rem;
}

.step__title--column h2 {
  text-align: center;
}

.step__paragraph--column p {
  text-align: center;
}

.step__title--revert {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.step__title--revert img {
  margin: 0 0 0 0.75rem;
}

.step__title--revert h2 {
  text-align: right;
}

.step__paragraph--revert p {
  text-align: right;
}

.step-item {
  background-color: var(--background);
  position: relative;
  width: 16.875rem;
  height: 10rem;
  text-align: center;
  padding: 0 1.8rem;
  margin: auto;
  border-radius: 1.125rem;
}

.step-item::before {
  content: "";
  background: -o-linear-gradient(320deg, #9b1414, #ce03a5, #ce8d01, #9b1414);
  background: linear-gradient(130deg, #9b1414, #ce03a5, #ce8d01, #9b1414);
  position: absolute;
  top: -0.1875rem;
  left: -0.1875rem;
  width: calc(100% + 0.375rem);
  height: calc(100% + 0.375rem);
  z-index: -1;
  border-radius: 1.125rem;
}

.step-item h3 {
  color: var(--white);
  font: 700 1.625rem/1.1 var(--font);
  padding: 0.75rem 0;
}

.step-item p {
  color: var(--yellow-primary);
  font: 400 1.0625rem/1.1 var(--font);
  height: calc(100% - 5rem);
  letter-spacing: 0.0125rem;
}

.step-item p span {
  font-weight: 700;
}

/* END COMPONENTS */

/* HEADER */

.header {
  background-color: var(--bg-header);
  width: 100%;
  height: 5.625rem;
  box-shadow: 0.0625rem 0.0625rem 0.1875rem rgb(20, 0, 22);
}

.header .header__wrapper {
  width: 100%;
  height: 100%;
}

.header__wrapper ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  list-style: none;
}

.header__wrapper ul li {
  margin: 0.125rem 0;
}

.header__wrapper ul img {
  display: block;
  width: 12.5rem;
  object-fit: cover;
  margin: auto;
}

/* HEADER */

/* SECTION INTRO */

section.intro {
  position: relative;
  width: 100%;
  height: auto;
}

section.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(src/img/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 46.875rem;
  background-position: top center;
  z-index: -1;
}

.intro__wrapper {
  max-width: 22.5rem;
  margin: auto;
}

.intro .intro__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  min-height: 23.125rem;
  padding: 2rem;
}

.intro .intro__title::before,
.intro .intro__title::after {
  content: "";
  position: absolute;
  background-size: cover;
  -webkit-animation: bounce 4s cubic-bezier(0.48, 0.03, 0.55, 0.98) infinite
    alternate;
  animation: bounce 4s cubic-bezier(0.48, 0.03, 0.55, 0.98) infinite alternate;
}

.intro .intro__title::before {
  bottom: -4.375rem;
  left: 1.625rem;
  width: 4.375rem;
  height: 4.375rem;
  background-image: url(src/img/bubble-1.png);
}

.intro .intro__title::after {
  bottom: -1.75rem;
  right: 2.1875rem;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(src/img/bubble-2.png);
  -webkit-animation: bounce 2s cubic-bezier(0.48, 0.03, 0.55, 0.98) infinite
    alternate;
  animation: bounce 2s cubic-bezier(0.48, 0.03, 0.55, 0.98) infinite alternate;
}

.intro .intro__title h1 {
  color: var(--white);
  font: 400 2.875rem/0.9 var(--font);
  text-transform: uppercase;
}

.intro .intro__title h1 span {
  display: block;
}

.intro .intro__title h1 span:first-child {
  font-weight: 700;
}

.intro .intro__title h1 span:last-child {
  color: var(--orange-primary);
  font-size: 3.125rem;
  font-weight: 900;
}

.intro .intro__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 25.625rem;
}

.intro .intro__image img {
  display: block;
  width: 13.125rem;
  -webkit-filter: drop-shadow(-0.1875rem 0.625rem 0.1875rem #00000058);
  filter: drop-shadow(-0.1875rem 0.625rem 0.1875rem #00000058);
}

/* END SECTION INTRO */

/* SECTION STEP 1 */

section.step-1 {
  position: relative;
  width: 100%;
  height: auto;
}

section.step-1::before {
  content: "";
  position: absolute;
  top: -10.625rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(src/img/frame-1-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  z-index: -1;
}

.step-1__wrapper {
  max-width: 22.5rem;
  padding: 5rem 1rem 3rem;
  margin: auto;
}

section.step-1::after {
  content: "";
  position: absolute;
  top: 24.125rem;
  left: -2.5rem;
  width: 17.5rem;
  height: 12.5rem;
  background-image: url(src/img/arm-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(45deg);
}

.step-1__decoration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 6rem;
  min-height: 26.25rem;
  pointer-events: none;
}

.step-1__decoration img {
  display: block;
  width: 100%;
  max-width: 13.125rem;
  -webkit-animation: bounce 2s cubic-bezier(0.48, 0.03, 0.55, 0.98) infinite
    alternate;
  animation: bounce 2s cubic-bezier(0.48, 0.03, 0.55, 0.98) infinite alternate;
}

/* END SECTION STEP 1 */

/* SECTION STEP 2 */

section.step-2 {
  position: relative;
  width: 100%;
  height: auto;
}

section.step-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(src/img/frame-1-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  z-index: -1;
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
}

.step-2__wrapper {
  position: relative;
  max-width: 22.5rem;
  padding: 5rem 0 0;
  margin: auto;
}

.step-2__wrapper .step-2__text {
  position: relative;
  width: 100%;
  height: 100%;
}

.step-2__wrapper .step-2__text::before,
.step-2__wrapper .step-2__text::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 6.25rem;
  background-image: url(src/img/lock.png);
  background-size: contain;
  background-repeat: no-repeat;
  bottom: -8.375rem;
  -webkit-filter: drop-shadow(-0.1875rem 0.625rem 0.1875rem #00000058);
  filter: drop-shadow(-0.1875rem 0.625rem 0.1875rem #00000058);
}

.step-2__wrapper .step-2__text::before {
  left: 3.75rem;
}

.step-2__wrapper .step-2__text::after {
  right: 3.75rem;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.step-2__wrapper .step-2__items {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 15rem;
}

.step-2__items .step-item {
  margin-bottom: 2.5rem;
}

.step-2__items .step-item:nth-child(2) p {
  padding-top: 2rem;
}

.step-2__wrapper .step-2__items::before {
  content: "";
  position: absolute;
  bottom: -3.375rem;
  right: 3.5rem;
  width: 4.375rem;
  height: 4.375rem;
  background-image: url(src/img/bubble-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  -webkit-animation: bounce 2.5s cubic-bezier(0.48, 0.03, 0.55, 0.98) infinite
    alternate;
  animation: bounce 2.5s cubic-bezier(0.48, 0.03, 0.55, 0.98) infinite alternate;
}

/* END SECTION STEP 2 */

/* SECTION STEP 3-4 */

section.step-3-4 {
  width: 100%;
  height: auto;
}

.step-3-4__wrapper {
  max-width: 22.5rem;
  padding: 8rem 1rem 3rem;
  margin: auto;
}

.step-3__text {
  margin: 0 0 6rem;
}

.step-3__text .step__paragraph p {
  width: 90%;
  margin-bottom: 0.5rem;
}

.step-4__text .step__paragraph p {
  margin-bottom: 0.5rem;
}

/* END SECTION STEP 3-4 */

/* SECTION STEP 5 */

section.step-5 {
  position: relative;
  width: 100%;
  height: auto;
}

section.step-5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 190%;
  background-image: url(src/img/frame-1-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70%;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  z-index: -1;
}

.step-5__wrapper {
  padding: 8rem 1rem 3rem;
}

.step-5__text {
  position: relative;
  width: 100%;
}

.step-5__text::before,
.step-5__text::after {
  content: "";
  position: absolute;
  top: -1.5rem;
  width: 7.5rem;
  height: 7.5rem;
  background-image: url(src/img/arm.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.step-5__text::before {
  left: -1rem;
}

.step-5__text::after {
  right: -1rem;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.step-5__text .step__paragraph--column p {
  max-width: 50ch;
  margin: auto;
}

/* END SECTION STEP 5 */

/* SECTION STEP 6 */

section.step-6 {
  width: 100%;
  height: auto;
}

.step-6__wrapper {
  max-width: 22.5rem;
  padding: 5rem 1rem 3rem;
  margin: auto;
}

.step-6__text .step__paragraph p {
  margin-bottom: 0.5rem;
}

.step-6__card {
  padding-top: 3rem;
}

.step-6__card img {
  display: block;
  width: 100%;
  max-width: 20.625rem;
  margin: auto;
  -webkit-filter: drop-shadow(-0.1875rem 0.75rem 0.1875rem #00000058);
  filter: drop-shadow(-0.1875rem 0.75rem 0.1875rem #00000058);
}

/* END SECTION STEP 6 */

/* SECTION STEP 7 */

section.step-7 {
  position: relative;
  width: 100%;
  height: auto;
}

section.step-7::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 170%;
  background-image: url(src/img/frame-1-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65%;
  z-index: -1;
}

.step-7__wrapper {
  max-width: 22.5rem;
  padding: 5rem 1rem;
  margin: auto;
}

.step-7__bank {
  position: relative;
  padding-top: 3rem;
}

.step-7__bank::before {
  content: "";
  position: absolute;
  bottom: -8.125rem;
  right: calc(50% - 7.5rem);
  width: 15rem;
  height: 6.25rem;
  background-image: url(src/img/double-bubble-wide.png);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: bounce 4s cubic-bezier(0.48, 0.03, 0.55, 0.98) infinite
    alternate;
  animation: bounce 4s cubic-bezier(0.48, 0.03, 0.55, 0.98) infinite alternate;
}

.step-7__bank img {
  display: block;
  width: 100%;
  max-width: 20.625rem;
  margin: auto;
  -webkit-filter: drop-shadow(-0.1875rem 0.625rem 0.1875rem #00000075);
  filter: drop-shadow(-0.1875rem 0.625rem 0.1875rem #00000075);
}

/* END SECTION STEP 7 */

/* SECTION STEP 8 */

section.step-8 {
  width: 100%;
  height: auto;
}

.step-8__wrapper {
  max-width: 22.5rem;
  padding: 6rem 1rem;
  margin: auto;
}

.step-8__text .step__paragraph--column p {
  max-width: 50ch;
  margin: auto;
}

/* END SECTION STEP 8 */

/* FOOTER */

.footer {
  background-color: var(--bg-footer);
  width: 100%;
  height: auto;
}

.footer .footer__wrapper {
  width: 100%;
  max-width: 37.5rem;
  height: auto;
  padding: 2rem;
  margin: auto;
}

.footer__wrapper .footer__logo {
  display: block;
  width: 100%;
  max-width: 16.875rem;
  margin: 3rem auto 3rem;
}

.footer__wrapper .footer-item {
  padding: 1.5rem 0 0;
  border-bottom: 0.0625rem solid #cccccc54;
}

.footer__wrapper ul {
  list-style: none;
  padding-bottom: 2rem;
}

.footer__wrapper ul h4 {
  color: var(--white);
  font: 400 1.5rem/1 var(--font);
  letter-spacing: 0.0313rem;
  margin: 0 0 0.75rem;
}

.footer__wrapper ul li {
  color: var(--white);
  font: 300 1.0625rem/1 var(--font);
  margin: 0 0 0.5rem;
  cursor: pointer;
}

.footer__wrapper ul li:hover {
  color: var(--violet-primary);
}

/* FOOTER */

/* MEDIA QUERIES */

/* 1024px */
@media (min-width: 64em) {
  /* SECTION INTRO */

  section.intro::before {
    height: 50%;
    background-size: 100%;
    background-image: url(src/img/frame-1-mobile.png);
    -webkit-transform: scale(-1);
    -ms-transform: scale(-1);
    transform: scale(-1);
  }

  .intro__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    max-width: 56.25rem;
  }

  .intro .intro__title {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 2rem 2rem 7rem;
  }

  .intro .intro__title::before {
    bottom: 0.125rem;
    left: 5.125rem;
  }

  .intro .intro__title::after {
    top: 12.5rem;
    right: 3.125rem;
    bottom: initial;
    width: 3.4375rem;
    height: 3.4375rem;
  }

  .intro .intro__title h1 {
    font: 400 3.625rem/0.8 var(--font);
  }

  .intro .intro__title h1 span:last-child {
    font-size: 4.125rem;
  }

  .intro .intro__image img {
    display: block;
    width: 16.875rem;
  }

  /* SECTION INTRO */

  /* SECTION STEP1 */

  section.step-1::before {
    top: -100%;
    height: 300%;
  }

  section.step-1::after {
    display: none;
  }

  .step-1__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 56.25rem;
    padding: 7rem 1rem 3rem;
  }

  .step-1__text {
    position: relative;
  }
  .step-1__text::before {
    content: "";
    position: absolute;
    bottom: -4.375rem;
    left: 1.75rem;
    width: 3.125rem;
    height: 3.125rem;
    background-image: url(src/img/bubble-small.png);
    background-size: cover;
    -webkit-animation: bounce 3.5s cubic-bezier(0.48, 0.03, 0.55, 0.98) infinite
      alternate;
    animation: bounce 3.5s cubic-bezier(0.48, 0.03, 0.55, 0.98) infinite
      alternate;
  }

  .step-1__wrapper .step__title,
  .step-1__wrapper .step__paragraph {
    max-width: 24.625rem;
  }

  .step-1__decoration {
    min-height: initial;
    margin-top: 0;
  }

  .step-1__decoration img {
    -webkit-transform: rotate(100deg);
    -ms-transform: rotate(100deg);
    transform: rotate(100deg);
  }

  /* SECTION STEP1 */

  /* SECTION STEP 2 */

  section.step-2::before {
    display: none;
  }

  .step-2__wrapper {
    max-width: 56.25rem;
  }

  .step-2__wrapper .step-2__text::before,
  .step-2__wrapper .step-2__text::after {
    width: 5.625rem;
    height: 6.875rem;
    top: 2.5rem;
    bottom: initial;
  }

  .step-2__wrapper .step-2__text::before {
    left: 12.5rem;
  }

  .step-2__wrapper .step-2__text::after {
    right: 12.5rem;
  }

  .step-2__wrapper .step-2__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 5rem;
  }

  .step-2__wrapper .step-2__items::before {
    bottom: -1.25rem;
    right: 3.5rem;
    width: 4.75rem;
    height: 4.75rem;
  }

  /* SECTION STEP 2 */

  /* SECTION STEP 3-4 */

  .step-3-4__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 56.25rem;
    padding: 3rem 1rem;
    margin: 8rem auto 6rem;
  }

  .step-3-4__wrapper::before {
    content: "";
    position: absolute;
    top: calc(50% - 5.625rem);
    left: calc(50% - 5.625rem);
    width: 11.25rem;
    height: 11.25rem;
    background-image: url(src/img/x.png);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-filter: drop-shadow(-0.1875rem 0.625rem 0.1875rem #00000058);
    filter: drop-shadow(-0.1875rem 0.625rem 0.1875rem #00000058);
  }

  .step-3__text,
  .step-4__text {
    width: 50%;
  }

  .step-3__text {
    margin: 0;
  }

  .step-3__text .step__paragraph p {
    width: 34ch;
  }

  .step-4__text .step__paragraph--revert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .step-4__text .step__paragraph p {
    width: 34ch;
  }

  /* SECTION STEP 3-4 */

  /* SECTION STEP 5 */

  section.step-5::before {
    top: -175%;
    height: 360%;
  }

  .step-5__wrapper {
    padding: 0 1rem 3rem;
  }

  .step-5__text::before,
  .step-5__text::after {
    top: -3.375rem;
    width: 13.125rem;
    height: 13.125rem;
  }

  .step-5__text .step__paragraph--column p {
    position: relative;
  }

  .step-5__text .step__paragraph--column p::before {
    content: "";
    position: absolute;
    top: 4.625rem;
    left: 6.875rem;
    width: 10rem;
    height: 8.75rem;
    background-image: url(src/img/double-bubble.png);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-animation: bounce 4s cubic-bezier(0.48, 0.03, 0.55, 0.98) infinite
      alternate;
    animation: bounce 4s cubic-bezier(0.48, 0.03, 0.55, 0.98) infinite alternate;
  }

  /* SECTION STEP 5 */

  /* SECTION STEP 6 */

  .step-6__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 56.25rem;
    padding: 11rem 1rem 3rem;
  }

  .step-6__text,
  .step-6__card {
    width: 50%;
  }

  .step-6__card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 0;
  }

  .step-6__card::before {
    content: "";
    position: absolute;
    bottom: -6.25rem;
    right: 4.6875rem;
    width: 4.0625rem;
    height: 4.0625rem;
    background-image: url(src/img/bubble-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
    -webkit-animation: bounce 2.5s cubic-bezier(0.48, 0.03, 0.55, 0.98) infinite
      alternate;
    animation: bounce 2.5s cubic-bezier(0.48, 0.03, 0.55, 0.98) infinite
      alternate;
  }

  .step-6__card img {
    max-width: 21.875rem;
    margin: initial;
  }

  /* SECTION STEP 6 */

  /* SECTION STEP 7 */

  section.step-7::before {
    top: -60%;
    height: 260%;
  }

  .step-7__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 56.25rem;
  }

  .step-7__text,
  .step-7__bank {
    width: 50%;
  }

  .step-7__text .step__paragraph--revert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .step-7__text .step__paragraph--revert p {
    width: 50ch;
  }

  .step-7__bank::before {
    right: 0;
    bottom: -7.5rem;
    width: 10rem;
  }

  .step-7__bank img {
    max-width: 21.875rem;
    margin: initial;
  }

  /* SECTION STEP 7 */

  /* FOOTER */

  .footer .footer__wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 3rem;
    max-width: 61.25rem;
    padding: 5rem 2rem 2rem;
  }

  .footer__wrapper .footer__logo {
    max-width: 12.5rem;
    margin: 0;
  }

  .footer__wrapper .footer-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }

  /* FOOTER */
}

/* 1240px */
@media (min-width: 77.5em) {
  /* COMPONENTS */

  .step__title h2 {
    font: 400 2.625rem/0.8 var(--font);
  }

  .step__paragraph p {
    font: 300 1.3125rem/1.1 var(--font);
  }

  .step-item {
    width: 20rem;
    height: 11.875rem;
  }

  .step-item p {
    font: 400 1.1875rem/1.1 var(--font);
  }

  .step-2__items .step-item:first-child p {
    padding-top: 0.5rem;
  }

  .step-2__items .step-item:nth-child(2) p {
    padding-top: 3rem;
  }

  .step-2__items .step-item:last-child p {
    padding-top: 1rem;
  }

  /* COMPONENTS */

  /* HEADER */

  .header__wrapper ul {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5rem;
  }

  .header__wrapper ul li a {
    display: inline-block;
  }

  /* HEADER */

  /* SECTION INTRO */

  .intro__wrapper {
    max-width: 68.75rem;
    padding-top: 4rem;
  }

  .intro .intro__title h1 {
    font: 400 4.375rem/0.8 var(--font);
  }

  .intro .intro__title h1 span:last-child {
    font-size: 4.75rem;
  }

  .intro .intro__image img {
    width: 19.375rem;
  }

  /* SECTION INTRO */

  /* SECTION STEP1 */

  section.step-1::before {
    top: 0%;
    height: 190%;
    background-image: url(src/img/frame-1-desktop.svg);
    background-position: 45%;
  }

  section.step-1::after {
    display: block;
    background-image: url(https://cloud.modyocdn.com/uploads/a2bc64c4-7d34-458c-9814-ab6e10eda9fc/original/arm-2-b.png);
    top: 10rem;
    left: initial;
    right: -1.875rem;
    width: 23.125rem;
    height: 16.25rem;
    transform: rotate(-10deg);
  }

  .step-1__wrapper {
    justify-content: flex-start;
    max-width: 68.75rem;
    padding: 10rem 1rem 3rem;
  }

  .step-1__wrapper .step__title,
  .step-1__wrapper .step__paragraph {
    max-width: 27.5rem;
  }

  /* SECTION STEP1 */

  /* SECTION STEP 2 */

  .step-2__wrapper {
    max-width: 68.75rem;
  }

  .step-2__wrapper .step-2__text::before,
  .step-2__wrapper .step-2__text::after {
    width: 6.875rem;
    height: 8.125rem;
  }

  .step-2__wrapper .step-2__text::before {
    left: 16.25rem;
  }

  .step-2__wrapper .step-2__text::after {
    right: 16.25rem;
  }

  /* SECTION STEP 2 */

  /* SECTION STEP 3-4 */

  .step-3-4__wrapper {
    max-width: 68.75rem;
  }

  /* SECTION STEP 3-4 */

  /* SECTION STEP 5 */

  section.step-5::before {
    top: -160%;
    height: 290%;
    background-image: url(src/img/frame-1-desktop.svg);
    background-position: 70%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .step-5__wrapper {
    padding: 3rem 1rem;
  }

  .step-5__text::before,
  .step-5__text::after {
    top: -3.75rem;
    width: 18.75rem;
    height: 18.75rem;
  }

  .step-5__text .step__paragraph--column p::before {
    top: 6.25rem;
  }

  /* SECTION STEP 5 */

  /* SECTION STEP 6 */

  .step-6__wrapper {
    max-width: 68.75rem;
  }

  .step-6__card::before {
    bottom: -7.5rem;
    right: 5.9375rem;
    width: 4.625rem;
    height: 4.625rem;
  }

  .step-6__card img {
    max-width: 23.75rem;
  }

  /* SECTION STEP 6 */

  /* SECTION STEP 7 */

  section.step-7::before {
    top: 0%;
    height: 190%;
    background-image: url(src/img/frame-1-desktop.svg);
    background-position: 35%;
    -webkit-transform: scale(-1);
    -ms-transform: scale(-1);
    transform: scale(-1);
  }

  .step-7__wrapper {
    max-width: 68.75rem;
    padding: 6rem 1rem 3rem;
  }

  .step-7__bank::before {
    right: -4.5rem;
    bottom: -8.125rem;
    width: 15.625rem;
  }

  .step-7__bank img {
    max-width: 30rem;
  }

  /* SECTION STEP 7 */

  /* SECTION STEP 8 */

  .step-8__wrapper {
    max-width: 68.75rem;
    padding: 9rem 1rem;
  }

  /* SECTION STEP 8 */

  /* FOOTER */

  .footer .footer__wrapper {
    max-width: 75.625rem;
    padding: 6rem 2rem 3rem;
  }

  /* FOOTER */
}

/* 1600px */
@media (min-width: 100em) {
  /* COMPONENTS */

  .step__title h2 {
    font: 400 3.375rem/0.8 var(--font);
  }

  .step__paragraph p {
    font: 300 1.5rem/1.2 var(--font);
  }

  /* COMPONENTS */

  /* SECTION INTRO */
  .intro__wrapper {
    max-width: 78.125rem;
    padding-top: 6rem;
  }

  .intro .intro__title h1 {
    font: 400 5.375rem/0.8 var(--font);
  }

  .intro .intro__title h1 span:last-child {
    font-size: 5.625rem;
  }

  .intro .intro__title::after {
    right: 2.75rem;
    width: 3.75rem;
    height: 3.75rem;
  }

  .intro .intro__title::before {
    bottom: -1.625rem;
    width: 5.625rem;
    height: 5.625rem;
  }

  .intro .intro__image img {
    width: 21.875rem;
  }
  /* SECTION INTRO */

  /* SECTION STEP1 */

  section.step-1::before {
    top: -20%;
    height: 185%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  section.step-1::after {
    right: -3.75rem;
    width: 29.375rem;
    height: 19.375rem;
    transform: rotate(-45deg);
  }

  .step-1__wrapper {
    max-width: 78.125rem;
    padding: 16rem 1rem 3rem;
  }

  .step-1__wrapper .step__title,
  .step-1__wrapper .step__paragraph {
    max-width: 31.5rem;
  }

  /* SECTION STEP1 */

  /* SECTION STEP 2 */
  .step-2__wrapper {
    max-width: 78.125rem;
    padding: 10rem 0 0;
  }

  .step-2__wrapper .step-2__text::before,
  .step-2__wrapper .step-2__text::after {
    top: 1.875rem;
    width: 9.375rem;
    height: 11.25rem;
  }

  .step-2__wrapper .step-2__text::before {
    left: 16.25rem;
  }

  .step-2__wrapper .step-2__text::after {
    right: 16.25rem;
  }

  /* SECTION STEP 2 */

  /* SECTION STEP 3-4 */

  .step-3-4__wrapper {
    max-width: 78.125rem;
  }

  .step-3-4__wrapper::before {
    top: calc(50% - 7.5rem);
    left: calc(50% - 7.5rem);
    width: 15rem;
    height: 15rem;
  }

  /* SECTION STEP 3-4 */

  /* SECTION STEP 5 */

  .step-5__wrapper {
    padding: 8rem 1rem 4rem;
  }

  .step-5__text::before,
  .step-5__text::after {
    top: -9.375rem;
    width: 25rem;
    height: 25rem;
  }

  .step-5__text .step__paragraph--column p::before {
    top: 6.875rem;
    width: 8.75rem;
    height: 8.75rem;
  }

  /* SECTION STEP 5 */

  /* SECTION STEP 6 */

  .step-6__wrapper {
    max-width: 78.125rem;
    padding: 12rem 1rem 3rem;
  }

  .step-6__card::before {
    width: 5.25rem;
    height: 5.25rem;
    bottom: -9.375rem;
    right: 6.25rem;
  }

  .step-6__card img {
    max-width: 26.875rem;
  }

  /* SECTION STEP 6 */

  /* SECTION STEP 7 */

  .step-7__wrapper {
    max-width: 78.125rem;
    padding: 8rem 1rem 3rem;
  }

  .step-7__bank::before {
    right: -10.625rem;
    bottom: -8.125rem;
    width: 18.125rem;
    height: 7.25rem;
  }

  .step-7__bank img {
    max-width: 50rem;
  }

  /* SECTION STEP 7 */

  /* FOOTER */

  .footer__wrapper .footer__logo {
    max-width: 16.25rem;
  }

  .footer .footer__wrapper {
    padding: 8rem 2rem 5rem;
  }

  /* FOOTER */
}
